* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 1080px;
    
}
.menu{
background-color: yellow;
text-align: center;
width: auto;
position: fixed;
right: 0px;
left: 0px;
opacity:0.6;

}
.small-box{
background-color: red;
width: 230px;
height: 280px;
position: relative;
top: -140px;
left:140px;
color: white;
z-index: -2;

}
.big-box{
    background-color: blue;
    height: 380px;
    width: 360px;
    position:relative;
    top:180px;
    left:90px;
    z-index: -5;
}

a{
    display: block;
    padding-block-start: 80px;
   padding-left: 70px;
   font-style: italic;
}
p{
    font-style: italic;
    padding-top: 40px;
    padding-left: 30px;
}
